header {
    background: rgb(222, 204, 46);
    height: 60px;
}
div {
    background: rgb(164, 250, 51);
}
footer {
    background: rgb(148, 51, 208);
    height: 300px;
}
h4 {
    color: #fff;
}
.week {
    color: #fff;
}
.squad {
    color: #fff;
}