html {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

a, button {
    outline: none;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.button {
    padding: 19px 32px;
    background: #3596ed;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transition: opacity 0.2s background-color 0.2s;
}

.button:hover {
    opacity: 0.85;
}

.button:not(:disabled):active {
    background-color: #0072d5;
}

button.button:disabled {
    opacity: 0.6;
    cursor: default;
}

.section {
    margin-bottom: 140px;
}

.title-large {
    max-width: 596px;
    margin-bottom: 40px;
    font-size: 48px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.title-h3 {
    font-size: 36px;
}

.title-h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.text-sub {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #858e8a;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
    outline: 2px solid #3596ed;
    outline-offset: 2px;
}