table {
    border-collapse: collapse;
}

td,
th,
caption {
    border: 2px solid #000;
}

caption {
font-family:sans-serif;
font-weight:700;
border-bottom: 0;
}

.red-flag {
    color: #fb0d0d;
}