.text-1 {
    font-family: 'Open sans', sans-serif;
    font-style: italic;
    font-weight:300 ;
    font-size: 20px;
    line-height: 30px;
}
.text-2 {
    text-decoration: line-through;
}
.text-3 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.text-4 {
    word-spacing: 30px;
    text-decoration: wavy overline;
    text-shadow: 1px 1px 2px #8018b0;
}
.text-5 {
    text-decoration: double underline;
    letter-spacing: 5px;
}
.text-6 {
    white-space:  nowrap;
    font-size: 20px;
    text-indent: 60px;
}