* {
    box-sizing: border-box;
}


article {
    max-width: 1000px;
    max-height: 600px;
    background: #ddd4d4;
    overflow: auto;
    border-radius: 20px 0 0 20px;
    border: 1px solid black;
}

section {
    display: inline-block;
    width: 220px;
    height: 170px;
    background: rgb(219, 176, 136);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 20px;
    box-shadow: inset 0 0 4px black;
}