.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px 0 23px;
    transition: box-shadow var(--transition-time);
}

.header--fixed {
    background-color: var(--bg-color);
    box-shadow: 0 0 15px var(--shadow-color);
    z-index: var(--layer-4);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}


@media (width > 992px) {
    .header__logo {
        margin-right: 71px;
    }

    .header__menu {
        flex-grow: 1;
    }
}

.header__menu-list {
    display: flex;
    /* min-width = 992px, max-width = 1600px*/
    gap: clamp(15px, -6.201rem + 11.51vw, 85px);
}

@media (width <=992px) {
    .header__menu {
        position: fixed;
        left: -100vw;
        top: 0;
        bottom: 0;
        z-index: var(--layer-4);
        min-width: 300px;
        padding-top: 145px;
        padding-left: 20px;
        background-color: var(--bg-color);
        box-shadow: -2px 0 15px var(--shadow-color);
        opacity: 0;
        visibility: hidden;
        transition: left var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
    }

    .header__menu--open {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    .header__menu-list {
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }
}

.header__menu-link,
.header__menu-link--language {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    color: var(--main-color);
    position: relative;
    transition: all var(--transition-time);
    -webkit-transition: all var(--transition-time);
}

@media (width > 1440px) {

    .header__menu-link,
    .header__menu-link--language {
        font-size: 18px;
    }
}

@media (width <=1440px) {

    .header__menu-link,
    .header__menu-link--language {
        font-size: 14px;
    }
}

.header__menu-link::after {
    content: "\2728";
    inset: 1;
    opacity: 0;
    transition: opacity var(--transition-time);
}

@media (any-hover: hover) {
    .header__menu-link:hover {
        background: radial-gradient(3992.22% 112.45% at 8.04% 17.65%, rgb(231, 170, 25) 0%, rgb(203, 109, 156) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .header__menu-link:hover::after {
        opacity: 1;
    }
}

.header__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


@media (width > 1440px) {
    .header__actions-button-entry {
        width: 113px;
        height: 60px;
    }

    .header__actions-button-open {
        width: 234px;
        height: 66px;
    }

    .header__link-entry,
    .header__link-open {
        font-size: 18px;
    }

}

@media (width <=1440px) {
    .header__actions-button-entry {
        width: 95px;
        height: 50px;
    }

    .header__actions-button-open {
        width: 174px;
        height: 52px;
    }

    .header__link-entry,
    .header__link-open {
        font-size: 16px;
    }
}

@media (width <=576px) {
    .header__options {
        gap: 5px;
    }

    .header__actions {
        gap: 5px;
    }

    .header__actions-button-entry {
        width: 55px;
        height: 37px;
    }

    .header__actions-button-open {
        width: 100px;
        height: 37px;
    }

    .header__link-entry,
    .header__link-open {
        font-size: 11px;
    }

}