.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width > 576px) {
    .logo {
        gap: 5px;
    }
}

.logo__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 66px;
    gap: 4px;
    transform: translateY(-7px);
}

.logo__name {
    width: 105px;
    height: 28px;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 119%;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

@media (width > 1440px) {
    .logo__top {
        width: 34px;
        height: 17px;
    }

    .logo__bottom {
        width: 52px;
        height: 45px;
    }
}


@media (width <=1440px) {
    .logo__img {
        width: 48px;
        height: 58px;
    }
    .logo__name {
        width: 75px;
        height: 20px;
        font-size: 9px;
    }

    .logo__top {
        width: 24px;
        height: 12px;
    }

    .logo__bottom {
        width: 32px;
        height: 29px;
    }
}

@media (width <=576px) {
    .logo__img {
        width: 38px;
        height: 48px;
    }
    .logo__name {
        width: 60px;
        height: 16px;
        font-size: 7px;
    }

    .logo__top {
        width: 20px;
        height: 10px;
    }

    .logo__bottom {
        width: 27px;
        height: 23px;
    }

}