.timer {
    display: grid;
    grid-template-columns: 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem;
    font-size: 30px;
    letter-spacing: -0.08em;
    color: var(--main-color);
    justify-items: center;
}

.timer__item {
    position: relative;
}

.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: var(--main-color);
}