* {
    font-family: sans-serif;
}

.form {
    border: 1px solid #000;
    border-radius: 5px;
    max-width: 330px;
    padding-bottom: 20px;
}

.box-1, .box-2 {
    border: none;
}

.box-1 {
    padding-bottom: 0;
}

.box-2 {
    padding-top: 0;
}
.label {
    display: block;
    margin: 10px 0px;
}

.label-2 {
    margin-bottom: 10px;
}

.input {
    display: block;
    border-radius: 5px;
    width: 250px;
    margin: 3px;
    border-width: 1px;
}

.area {
    display: block;
    width: 250px;
    border-radius: 5px;
    resize: vertical;
    max-height: 150px;
    min-height: 30px;
    margin-bottom: 10px;
}

.device {
    display: inline-block;
}

.button {
    cursor: pointer;
    margin-left: 15px;

}